<div>
    <h1>Contactos</h1>
   
    <div class="container">
        <div class="form">
            <form (submit)="onSubmit()">
                <h2>Agregar</h2>
                <div>
                    <label for="">Email</label>
                    <input type="text" name="id" pInputText [(ngModel)]="contacto.email">
                </div>
                <div>
                    <label for="" >Telefono</label>
                    <input type="text" name="title" pInputText [(ngModel)]="contacto.telefono">
                </div>
                <div>
                    <label for="" >Sitio</label>
                    <input type="text" name="title" pInputText [(ngModel)]="contacto.sitio">
                </div>
            
                <button pButton type="submit" class="p-button-raised  p-button-success" >Agregar</button>
            
            </form>
            
        </div>
        
        <div class="tabla">
            <app-lista-contactos *ngFor="let contacto of contactos" [contacto]="contacto" (recargarDatos)="obtenerContactos()"> </app-lista-contactos>
        </div>
   
    </div>
   
</div>
 
