<form (submit)="onSubmit()">
    
    <h2>Editar usuario</h2>
    <div>
        <label for="">Nombre</label>
        <input type="text" name="id" pInputText [(ngModel)]="usuario.nombre">
    </div>
    <div>
        <label for="" >Email</label>
        <input type="text" name="email" pInputText [(ngModel)]="usuario.email">
    </div>
    <div>
        <label for="" >Contraseña</label>
        <input type="text" name="contraseña" pInputText [(ngModel)]="usuario.contrasenia">
    </div>

    <button pButton type="submit" class="p-button-raised  p-button-success" >Editar</button>

</form>

